.pageHeader {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 0 20px 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.pageHeader.shadow {
  position: fixed !important;
  box-shadow: -4px -6px 12px 0px black;
  top: -40px;
  z-index: 999;
  padding-top: 50px;
}
.pageHeader .leftSide {
  display: flex;
}
.pageHeader img {
  max-width: 140px;
  height: auto;
  margin-right: 15px;
  padding-top: 8px;
}

.searchInput {
  width: 50%;
}

@media only screen and (max-width: 920px) {
  .pageHeader .leftSide {
    align-items: center;
  }
  .searchInput {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .pageHeader {
    height: 120px;
  }
  .pageHeader.shadow {
    height: 150px;
  }
}

@media only screen and (max-width: 750px) {
  .pageHeader {
    display: none;
  }
}
