.searhResult {
  margin-bottom: 100px;
  padding: 0px 32px;
}
.searchCounter {
  padding: 10px 0;
  color: #6c757d;
}

@media only screen and (max-width: 550px) {
  .searhResult {
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 750px) {
  .searchCounter {
    margin-top: 80px;
  }
}
